# Python & Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables & Secrets
.env
app/static/assets/map_keys.js

# Flask App & Database
instance/

# Testing
.pytest_cache/

# Media
app/static/assets/avatars_profile_pics/

# IDEs & Editors
.vscode/