{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="login-register-body">
  <div class="wrapper">
    <h1>Register</h1>

    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category in ['danger'] %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endif %} 
        {% endfor %}
      {% endif %} 
    {% endwith %}

    <form action="{{ url_for('register') }}" method="post">
      <div class="input-box">
        <i class="bi bi-person"></i>
        <input type="text" name="name" placeholder="Name" autocomplete="name" required="required" />
      </div>
      <div class="input-box">
        <i class="bi bi-envelope"></i>
        <input type="email" name="email" placeholder="Email" autocomplete="email" required="required" />
      </div>
      <div class="input-box">
        <i class="bi bi-lock"></i>
        <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required="required" />
        <i class="bi bi-eye-slash" id="togglePassword" style="margin-left: 280px; cursor: pointer"></i>
      </div>
      <button type="submit" class="btn">Register</button>
      <div class="register-link">
        <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
      </div>
    </form>
  </div>
</div>

<div id="map_login_register"></div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  const map = L.map('map_login_register', {
    zoomControl: false,
    attributionControl: false,
    dragging: false,
    scrollWheelZoom: false,
    doubleClickZoom: false,
    boxZoom: false,
    keyboard: false,
    tap: false,
    touchZoom: false,
  }).setView([46.8523, 9.5257], 10);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    noWrap: true,
  }).addTo(map);
</script>

<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');

  togglePassword.addEventListener('click', function () {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);

    this.classList.toggle('bi-eye');
    this.classList.toggle('bi-eye-slash');
  });
</script>
{% endblock %}